.content {
  flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
  width: 100%; /* Garante que ocupe toda a largura */
  overflow: auto;
  height: 100vh;;
}

router-outlet {
  display: block;
  width: 100%; /* Garante que o componente renderizado ocupe toda a largura */
}
