.content {
  flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
  width: 100%; /* Garante que ocupe toda a largura */
  height: 100vh;
  overflow-y: auto;
}

router-outlet {
  display: block;
  width: 100%; /* Garante que o componente renderizado ocupe toda a largura */
}
