<aside class="d-flex flex-column">
  <div class="d-flex">
    <div class="menu-user-container d-flex flex-column menu-padding">
      <div class="d-flex align-items-center gap-2">
        <div class="menu-name-initials-container d-flex align-items-center justify-content-center">
          VB
        </div>

        <div>
          {{ userName }}
        </div>
      </div>

      <div class="menu-search-container">
        <input type="text" class="form-control" placeholder="Search..." />
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>

  <nav class="menu-nav d-flex">
    <ul class="nav d-flex flex-column">
      <li class="nav-item menu-padding">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-house"></i> Dashbord
        </a>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-gear"></i> Solitações
        </a>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Orçamentos
        </a>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Pagamentos
        </a>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Configurações
        </a>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Suporte
        </a>
      </li>
      <li class="nav-item nav-item-seperator menu-padding">
        <div class="nav-border"></div>
      </li>
      <li class="nav-item menu-padding">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
</aside>
