.register-section-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.rigister-section-inputs {
  margin-left: 120px;
  margin-top: 130px;
  position: relative;
  z-index: 20;
  min-height: fit-content;
}

.register-form {
  gap: 40px;
}

.register-form-item {
  width: 300px;
}

.step-container {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
}

.step-container.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

.step-container.hidden {
  display: none;
}

.error-message {
  color: red;
}

.button-step-container {
  width: 100%;
  margin-top: 20px;
}

.register-logo-container {
  color: white;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
}

.register-logo-container a {
  color: white;
  text-decoration: none;
}

.register-logo-container img {
  width: 60px;
}

.step-title {
  color: white;
  font-weight: bold;
}

.register-title {
  color: white;
  margin-bottom: 10px;
}

input {
  width: 250px;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  background-color: #f0f4f8;
  font-size: 14px;
}

.radio-group input {
  width: fit-content;
}

label {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.radio-group {
  margin: 8px 0 16px;
}

.radio-group label {
  color: white;
  margin-right: 10px;
  font-weight: normal;
}

.register-wave-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #004AAD;
  width: 500px;
  z-index: 10;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
}

.register-wave-container img {
  width: 370px;
  margin-bottom: 110px;
}

.regiter-btn {
  width: 100%;
  margin-bottom: 30px;
}

.btn {
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  border: 0px;
}

.login-link-container {
  text-align: center;
  color: white;
  font-size: 18px;
}

.login-link-container p {
  margin: 0;
}

.login-link-container a {
  color: white !important;
}

.eye-input-password {
  color: black;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
}

@media (max-width: 768px) {
  .register-section-container {
    display: flex;
    justify-content: center;
  }

  .rigister-section-inputs {
    margin-left: 0px;
  }

  .register-form {
    justify-content: center;
  }

  .register-wave-container {
    width: 370px;
  }

  .register-wave-container img {
    width: 230px;
  }

  .step2-container {
    justify-content: center;
  }

  .register-title {
    text-align: center;
  }
}
