<app-notification [message]="message" [visible]="showNotification"></app-notification>

<section>
  <svg width="0" height="0">
    <defs>
      <mask id="waveMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <path d="M0,0
                C2.3,0.2 0.2,0.5 0.4,0.5
                C1.7,0.6 0.7,0.9 1,1
                L1,0
                Z"
              fill="white" />
      </mask>
    </defs>
  </svg>

  <div class="wave-container">
    <div class="wave-gradient"></div>
    <div class="wave-overlay"></div>
  </div>

  <div class="container">
    <div class="content-wrapper">
      <div class="right-section">
        <h2 class="welcome-text">Cadastro de Usuário</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
          <!-- Linha 1: Nome, CPF, Data de Nascimento -->
          <div class="form-row">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" formControlName="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" id="cpf" formControlName="cpf" placeholder="Digite seu CPF" required>
            </div>
            <div class="form-group">
              <label for="dataNascimento">Data de Nascimento:</label>
              <input type="date" id="dataNascimento" formControlName="dataNascimento" required>
            </div>
            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <select id="sexo" formControlName="sexo" required>
                  <option value="Feminino">Feminino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Outro">Outro</option>
                </select>
              </div>
          </div>

          <!-- Linha 2: Email, Telefone, Sexo -->
          <div class="form-row">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" placeholder="Digite seu email" required>
            </div>
            <div class="form-group">
              <label for="telefone">Telefone:</label>
              <input type="text" id="telefone" formControlName="telefone" placeholder="Digite seu telefone" required>
            </div>
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" formControlName="cep" placeholder="Digite seu CEP" required>
              </div>
          </div>

          <!-- Linha 3  -->
          <div class="form-row">
            <div class="form-group">
              <label for="uf">UF/Estado:</label>
              <input type="text" id="uf" formControlName="uf" placeholder="Digite seu estado" required>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" formControlName="cidade" placeholder="Digite sua cidade" required>
              </div>
              <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" formControlName="bairro" placeholder="Digite seu bairro" required>
              </div>
          </div>
          <!-- Linha 4  -->
          <div class="form-row">
            <div class="form-group">
                <label for="logradouro">Logradouro:</label>
                <input type="text" id="logradouro" formControlName="logradouro" placeholder="Digite seu logradouro" required>
              </div>
              <div class="form-group">
                <label for="numero">Número:</label>
                <input type="text" id="numero" formControlName="numero" placeholder="Digite o número" required>
              </div>
              <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" id="complemento" formControlName="complemento" placeholder="Digite o complemento">
              </div>
          </div>

          <!-- Botão Cadastrar -->
            <div class="form-group button-group">
              <button type="submit" class="register-btn">Cadastrar</button>
            </div>

          <!-- Link para Login -->
          <div class="form-row login-row">
            <p class="form-links">
              Já tem conta? <a (click)="navigateToLogin()" class="register">Faça o Login</a>
            </p>
          </div>
        </form>
    </div>

    <!-- Seção da imagem -->
    <div class="image-section">
        <img src="\images\imagemresgisterr-removebg-preview.png" alt="Imagem de Registro">
    </div>
  </div>
</div>
</section> 