<section>
  <div class="meu-container-principal">
    <div class="cabecalho-solicitacoesfunc text-center mb-4">
      <div class="container-do-titulo func">
        <img src="/images/blob.png" alt="Decorativo" class="titulo-blob" />

        <div class="titulo-wrapper func">
          <h1 class="titulo-solicitacoes func">
            <i class="fas fa-clipboard-list me-2"></i> SOLICITAÇÕES
          </h1>
        </div>
      </div>
      <p class="descricao-solicitacoes func">
        Aqui você pode gerenciar todas as solicitações de clientes.
      </p>
    </div>

    <div class="table-responsive func">
      <table class="table-custom func">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Equipamento</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let task of solicitacoesPorPagina; trackBy: trackByTaskId"
          >
            <td>{{ task.id | getRecordId }}</td>
            <td>{{ task.time?.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ task.time?.createdAt | date : "HH:mm:ss" }}</td>
            <td>
              {{
                task.equipment
                  ? (task.equipment | equipmentField : "model")
                  : ""
              }}
            </td>
            <td>
              <span
                [ngClass]="
                  'estado-' + (task.status?.trim()?.toUpperCase() ?? '')
                "
              >
                {{ task.status }}
              </span>
            </td>

            <td>
              {{ task.creator | getRecordId }}
            </td>

            <td>
              <button
                class="btn btn-sm btn-info me-1"
                (click)="verTask(task)"
                aria-label="Ver detalhes"
              >
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="paginacao d-flex justify-content-center align-items-center mt-3 gap-2"
    >
      <button
        class="btn btn-sm btn-outline-primary"
        [disabled]="paginaAtual === 1"
        (click)="mudarPagina(paginaAtual - 1)"
      >
        Anterior
      </button>

      <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>

      <button
        class="btn btn-sm btn-outline-primary"
        [disabled]="paginaAtual === totalPaginas"
        (click)="mudarPagina(paginaAtual + 1)"
      >
        Próxima
      </button>
    </div>
  </div>
</section>
