:host {
  display: block;
  height: 100vh;
  background: linear-gradient(90deg, #062685 0%, #4d73e4 50%, #49a2ad 100%);
  padding: 40px;
  box-sizing: border-box;
  color: white;
  }

h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.table-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: white;

}

.table-container th, .table-container td {
  padding: 12px 15px;
  text-align: left;
}

.solicitacoes-table thead th {
  color: white;
  padding: 12px 15px;
  font-weight: bold;
  text-align: left;
}
.solicitacoes-table {
  width: 100%;
  border-spacing: 0 15px; /* espaçamento entre as linhas */
  border-collapse: separate;
}

.solicitacoes-table tbody tr {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}


.solicitacoes-table td {
  padding: 15px;
  color: white;
  position: relative;

}

.solicitacoes-table tbody tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.solicitacoes-table tbody tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.wave-container {
  position: absolute; /* Alterado para absolute para posicionar em relação ao :host */
  top: 0; /* Pode ajustar este valor para mover a onda verticalmente */
  left: 0;
  width: 100%;
  height: 200px; /* Ajuste a altura total da área da onda */
  z-index: 1; /* Garante que a onda fique atrás do conteúdo */
  pointer-events: none; /* Permite interagir com o conteúdo */
}

.wave-gradient {
  position: absolute;
  bottom: 0; /* Alinha a parte inferior do gradiente com a parte inferior do container da onda */
  left: 0;
  width: 100%;
  height: 100%; /* Ocupa toda a altura do .wave-container */
  background: linear-gradient(
    105deg,
    rgba(1, 3, 14, 0.6) 0%,
    rgba(13, 75, 184, 0.4) 70%,
    rgba(7, 85, 219, 0) 100%
  );
  mask-image: url(#waveMask);
  -webkit-mask-image: url(#waveMask);
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  mask-size: 20% auto; /* Controla a largura da repetição da onda */
  -webkit-mask-size: 20% auto;
  transform: translateY(20px); /* Ajuste a posição vertical da onda dentro do container */
}
}