<header>
  <h1>Solicitações</h1>
</header>
<div class="table-container">
  <table class="solicitacoes-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Equipamento</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>t-01</td>
        <td>08/04/2025</td>
        <td>10:25 PM</td>
        <td>Notebook</td>
        <td class="estado aprovada">Aprovada <span class="status-icon check"></span></td>
        <td class="acoes">
          <button class="add-button">+</button>
          <button class="edit-button"></button>
          <button class="delete-button"></button>
        </td>
        </tr>
        <tr>
        <td>t-01</td>
        <td>08/04/2025</td>
        <td>10:25 PM</td>
        <td>Notebook</td>
        <td class="estado orcada">Concluída <span class="status-icon check-mark"></span></td>
        <td class="acoes">
          <button class="add-button">+</button>
          <button class="edit-button"></button>
          <button class="delete-button"></button>
        </td>
        </tr>
        <tr>
          <td>t-01</td>
          <td>08/04/2025</td>
          <td>10:25 PM</td>
          <td>Notebook</td>
          <td class="estado orcada">Orçada <span class="status-icon check-mark"></span></td>
          <td class="acoes">
            <button class="add-button">+</button>
            <button class="edit-button"></button>
            <button class="delete-button"></button>
          </td>
          </tr>
   </tbody>
  </table>
</div>
